<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
{{ header }}
<div class="header"> <!--голова свйта-->
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-light" style="height: 500px" align="center">
            Колонка
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"> <!--основная часть свйта-->
    <div class="row">
        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light" style="height: 500px" align="center">
            Колонка 1
            </div>
        </div>
         <div class="col-8" style="padding: 0px">
            <div class="card card-body bg-light" style="height: 500px" align="center">
            Колонка 2
            </div>
        </div>
         <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light" style="height: 500px" align="center">
            Колонка 3
            </div>
        </div>
    </div>
</div>
<div class="footer"> <!--футер свйта-->
    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-light" style="height: 500px" align="center">
            Колонка3
            </div>
        </div>
    </div>
</div>
</body>
</html>